<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
    <servlet-name>Uplpipe</servlet-name>
    <servlet-class>com.uplpipe.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uplpipe</servlet-name>
    <url-pattern>/upload/*</url-pattern>
  </servlet-mapping>
</web-app>
