<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- for Tomcat 5.x, you must use x$$class instead of x$class !-->
  <servlet>
    <servlet-name>uploadController</servlet-name>
    <servlet-class>UploadController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>uploadController</servlet-name>
    <url-pattern>/upload/*</url-pattern>
  </servlet-mapping>
</web-app>
